{% extends "layout.html" %}

{% block content %}
  <section>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 style="display: inline;">Hi, {{ current_user.username }}!</h1>
        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">
          Add a new saved search
        </button>
      </div>
    </div>
  </section>

  <section>
    <div class="row justify-content-center">
      <div class="col-md-8">
        {% if count < 1 %}
        <h2>Go ahead and add your first saved search!</h2>
        {% else %}
        <h2>Your Saved Searches</h2>
        {% endif %}
        <br>
        <ul class="list-group">
        {% for product in products %}
          <li class="list-group-item" id="row-{{ product.id }}">
            <a href="{{ product.url }}" target="_blank">{{ product.title }}</a>
            <span class="float-right">
              <button type="submit" class="btn btn-primary delete-button" data-id="{{ product.id }}">
                Delete
              </button>
            </span>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">New Saved Search</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.title.label }}<br>
              {{ form.title(size=32, class='form-control') }}<br>
              {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ form.url.label }}<br>
              {{ form.url(cols=32, rows=3, class='form-control') }}
              <small id="urlHelp" className="form-text text-muted">
                Go to Poshmark and select the product you are interested in tracking, for example, <a href="https://poshmark.com/brand/Ugly_Christmas_Sweater-Women?sort_by=added_desc&price%5B%5D=-25" target="_blank">
                Ugly Christmas Sweaters under $25</a>.
              </small>

              {% for error in form.url.errors %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
              {% endfor %}
            </div>
            <br>
            <p>{{ form.submit(class="btn btn-primary") }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}
  <script>
    const buttons = Array.from(document.querySelectorAll('.delete-button'));
    buttons.forEach(button => button.addEventListener('click', deleteProduct));

   function deleteProduct(e) {
     bootbox.confirm("Want to delete?", function(result) {
       if (result) {
         const elem = e.target;
         const id = elem.getAttribute('data-id');

         fetch(`/async_delete/${id}`, {
            method: 'POST'
          })
          .then((res) => res.json())
          .then(function(data) {
            let row = document.querySelector(`#row-${id}`);
            row.remove();
          })
          .catch((err) => console.log(err))
      }
    });
  }
  </script>
{% endblock %}
