html {
	scroll-behavior: smooth;
}

section {
  margin: 6rem 0rem;
}

body {
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 24px;
	color: #004853;
	background-color: #fcfeff;
	margin-top: 10px;
}

.price-box {
  padding: 40px 10px;
}

.large-heading {
	font-size: 64px;
	font-weight: 800;
}

.sub-heading {
	font-size: 36px;
	font-weight: 500;
  letter-spacing: -.02rem;
	color: #74959a;
	line-height: 2.4rem;
	margin-bottom: 2rem;
}

.small-heading {
	font-size: 48px;
	font-weight: 600;
}

a, a:visited {
	color: #ff4900;
}

a:hover, a:active {
  color: #da3f00;
  text-decoration: none;
}


.btn {
	font-size: 24px;
}

a.btn-primary, .btn-primary, .btn-primary:disabled, .btn-primary:active, .btn-primary:focus, input[type="submit"] {
  background: #ff4900;
  border-bottom: 1px solid #da3f00;
  color: #fff;
	border-color: transparent;
}

.btn-primary:hover {
	background: #da3f00;
	color: #fff;
	cursor: pointer;
	border-color: transparent;
}
