{% extends "layout.html" %}

{% block content %}

<!-- Hero Section -->
<section class="text-center">

  <div class="row align-items-center">
    <div class="col">
      <h1 class="large-heading">Daily Poshmark Reminders</h1>
      <br>
      <p class="sub-heading">
        Quit bookmarking pages and get daily notifications of newly posted items.
      </p>
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='posh-shot.jpg') }}" style="height: 400px" alt="Email Mockup">
    </div>
  </div>
</section>

<!-- Pricing Section -->
<section id="pricing">
  <div class="row">
    <div class="col">
      <div class="price-box text-center shadow">
        <h2 class="small-heading">Free Forever</h2>
        <h1>$0 </h1>
        <br>
        <p>5 saved searches</p>
        <p>Daily email updates</p>
        <br>
        <a href="{{ url_for('landing.register') }}" class="btn btn-primary my-2">Join now</a>
      </div>
    </div>
    <div class="col">
      <div class="price-box text-center shadow-sm">
        <h2 class="small-heading">Premium</h2>
        <h1>$5</h1>
        <br>
        <p>Unlimted saved searches</p>
        <p>Daily email updates</p>
        <br>
        <button type="button" class="btn btn-lg btn-primary" disabled>Pay now</button>
      </div>
    </div>
  </div>
</section>

{% endblock %}
