{% extends "layout.html" %}

{% block content %}
<section>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1>Sign In</h1>
          <!-- novalidate turns of web form validation, to test server side validation -->
          <form action="" method="post" novalidate>
              {{ form.hidden_tag() }}
              <div class="form-group">
                {{ form.username.label }}<br>
                {{ form.username(size=32, class='form-control') }}<br>
                {% for error in form.username.errors %}
                  <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endfor %}
              </div>
              <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(size=32, class='form-control') }}<br>
                {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
                {% endfor %}
              </div>
              <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
              <p>{{ form.submit(class='btn btn-primary') }}</p>
          </form>
          <p>New User? <a href="{{ url_for('landing.register') }}">Click to Register!</a></p>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}
