{% extends "layout.html" %}

{% block content %}
<section>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1>Register</h1>
          <form action="" method="post">
              {{ form.hidden_tag() }}
              <div class="form-group">
                  {{ form.username.label }}<br>
                  {{ form.username(size=32, class='form-control') }}<br>
                  {% for error in form.username.errors %}
                  <div class="alert alert-danger" role="alert">{{error}}</div>
                  {% endfor %}
              </div>
              <div class="form-group">
                  {{ form.email.label }}<br>
                  {{ form.email(size=64, class='form-control') }}<br>
                  {% for error in form.email.errors %}
                  <div class="alert alert-danger" role="alert">{{error}}</div>
                  {% endfor %}
              </div>
              <div class="form-group">
                  {{ form.password.label }}<br>
                  {{ form.password(size=32, class='form-control') }}<br>
                  {% for error in form.password.errors %}
                  <div class="alert alert-danger" role="alert">{{error}}</div>
                  {% endfor %}
              </div>
              <div class="form-group">
                  {{ form.password2.label }}<br>
                  {{ form.password2(size=32, class='form-control') }}<br>
                  {% for error in form.password2.errors %}
                  <div class="alert alert-danger" role="alert">{{error}}</div>
                  {% endfor %}
              </div>
              <p>{{ form.submit(class='btn btn-primary') }}</p
              <p>Already Registered? <a href="{{ url_for('landing.login') }}">Click to Login!</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}
